.AboutMe {
    width: 100%;
    /* border: 1px black solid; */
    color: white;
}

.header {
    /* color: white; */
}

.container {
    border: 1px white solid;

    display: flex;
    flex-direction: row;
    margin: 20px;
}

.column1 {
    width: 20%;
    margin: 10px;
}

.column2 {
    width: 60%;
    margin: 10px;

}

.singingImage {
    max-width:100%;
    max-height:100%;
}

